body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to bottom right, #f5e8e0, #fbeee6);
    color: black;
    line-height: 1.6;
    padding: 0 20px;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    border-bottom: 2px solid #e0e0e0;
    padding: 1rem 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.nav__hero {
    display: flex;
    padding: 0 10px;
}

.nav__image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.nav__logo {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    gap: 0.25rem;
    align-items: flex-start;
}
  
.nav__logo--modern {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 600;
    font-size: larger;
}
  
.nav__logo--family {
    font-family:'Times New Roman', Times, serif;
    color: #D72638;
    font-weight: 600;
    font-size: larger;
    padding-right: 20px;
}

.nav__menu {
    list-style: none;
    display: flex;
}


.nav__link {
    text-decoration: none;
    color: #f5d1a6; 
    font-weight: 500;
    padding-right: 10px;
}

.nav__link:hover {
    color: #D72638;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    letter-spacing: 6px;
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
}

h2{
    margin-top: 40px;
    margin-bottom: 15px;
}

h1, h2 {
    letter-spacing: 2px;
}

.background p {
    font-size: 1.05rem;
    margin-bottom: 1.25rem;
}

.background {
    max-width: 900px;
    padding: 0 45px 10px 45px;
    margin-top: 30px;
    background-color: #eee7d9;  
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.background img {
    max-width: 100%;
    height: auto;
}

.photo1 {
    margin: 10px 15px 6px 15px;
}

.photo2 {
    margin: 10px 20px 5px 0;
}

.last-photo {
    max-width: 100%;
    display: block;
    margin: 20px auto;
} 

.footer {
    background-color: black;
    border-top: 2px solid #e0e0e0;
    padding: 1.5rem 0;
}
  
.footer__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 1rem;
    flex-wrap: wrap;
}
  
.footer__logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    gap: 0.25rem;
    line-height: 1; 
}
  
.footer__logo--modern {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 600;
    font-size: larger;
}
  
.footer__logo--family {
    font-family: 'Times New Roman', Times, serif;
    color: #D72638;
    font-weight: 600;
    font-size: larger;
}
  
.footer__credits {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    line-height: 1.4;
    padding-right: 0;
}
  
.footer__credits p {
    margin: 0;
    font-size: 1rem;
    color: #f5d1a6;
}
  

@media (max-width: 768px) {
    .nav__menu {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__credits{
        align-items: center;
        text-align: center;
    }
}